<div class="list-group">
  <a class="list-group-item" [routerLink]="[ '/tester/bug' ]" routerLinkActive="active main-color-bg">
    <span class="fa fa-bug" aria-hidden="true"></span>
    &nbsp;&nbsp;&nbsp;&nbsp;Bug
  </a>
  <a class="list-group-item" [routerLink]="[ '/tester/bug/create' ]">
    <span class="fa fa-tasks" aria-hidden="true"></span>
    &nbsp;&nbsp;&nbsp;Create New Bug
  </a>
  <a class="list-group-item" [routerLink]="[ '/tester/profile' ]" routerLinkActive="active main-color-bg">
    <span class="fa fa-user" aria-hidden="true"></span>
    &nbsp;&nbsp;&nbsp;&nbsp;Profile
  </a>
</div>