<div *ngIf="hasError" class="alert alert-danger mt-20">
  Something went wrong.! try again :( <button type="button" class="btn btn-danger btn-link" (click)="GoBack()">Go
    Back</button>
</div>

<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">
      <span class="fa fa-tasks">&nbsp;&nbsp;&nbsp;</span>Technology Details
    </h3>
  </div>
  <div class="panel-body">

    <div class="row text-center">
      <div class="col-md-3 col-md-offset-4">
        <div class="card">
          <h4 class="card-title">
            <span class="fa fa-2x fa-tasks"></span>
          </h4>
          <div class="card-container">
            {{ technology.ProjectViewModels.length }} Projects
          </div>
        </div>
      </div>
    </div>

    <hr />

    <h4>
      <b>Details</b>
    </h4>

    <table border="0" class="table table-hover">
      <tr>
        <td width="210px">Name</td>
        <td>{{ technology.Name }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ technology.Description }}</td>
      </tr>
    </table>
    
    <hr />

    <h4>
      <b>Current Projects</b>
    </h4>

    <table border="0" class="table table-hover">
      <tr *ngIf="technology.ProjectViewModels.length == 0">
        <td>
          No project is under development under this technology.
        </td>
      </tr>
      <tr *ngFor="let project of technology.ProjectViewModels">
        <td>
          <div class="row project-item">
            <div class="col-md-3">
              Name
            </div>
            <div class="col-md-9">
              {{ project.ProjectName }}
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>