<app-employee-navbar></app-employee-navbar>

<header id="header">
  <div class="container">
    <h1>
      <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span> Employee Dashboard
    </h1>
  </div>
</header>

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-employee-side-navbar></app-employee-side-navbar>
      </div>
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>