<div class="list-group">
    <a class="list-group-item"  [routerLink]="[ '/admin/dashboard' ]" routerLinkActive="active main-color-bg">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        &nbsp;&nbsp;&nbsp;Dashboard
    </a>
    <a class="list-group-item" [routerLink]="[ '/admin/bug' ]" routerLinkActive="active main-color-bg">
        <span class="fa fa-bug" aria-hidden="true"></span>
        &nbsp;&nbsp;&nbsp;Bug
    </a>
    <a class="list-group-item" [routerLink]="[ '/admin/project' ]" routerLinkActive="active main-color-bg">
        <span class="fa fa-tasks" aria-hidden="true"></span>
        &nbsp;&nbsp;&nbsp;Project
    </a>
    <a class="list-group-item" [routerLink]="[ '/admin/employee' ]" routerLinkActive="active main-color-bg">
        <span class="fa fa-user" aria-hidden="true"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;Employee
    </a>
</div>