<div *ngIf="hasError" class="alert alert-danger mt-20">
  Something went wrong.! try again :( <button type="button" class="btn btn-danger btn-link" (click)="GoBack()">Go
    Back</button>
</div>
<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">
      <span class="fa fa-bug">&nbsp;&nbsp;&nbsp;</span>Bug Details
    </h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <tr>
        <td width="210px">Title</td>
        <td>{{ bug.Title }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ bug.Description }}</td>
      </tr>
      <tr>
        <td>Image</td>
        <td>{{ bug.ImageUrl }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ bug.Bug_StatusViewModel.BugStatus }}</td>
      </tr>
      <tr>
        <td>Priority</td>
        <td>{{ bug.Bug_PrioritiesViewModel.BugPriority }}</td>
      </tr>
    </table>

    <hr />

    <h4>
      <b>Project</b>
    </h4>

    <table class="table table-hover">
      <tr>
        <td width="210px">Project Title</td>
        <td>{{ bug.ProjectViewModel.ProjectName }} </td>
      </tr>
      <tr>
        <td>Technology</td>
        <td>{{ bug.ProjectViewModel.Project_TechnologiesViewModel.Name }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ bug.ProjectViewModel.Project_StatusViewModel.ProjectStatus }}</td>
      </tr>
      <tr>
        <td>Is Active</td>
        <td>{{ bug.ProjectViewModel.IsActive }}</td>
      </tr>
    </table>

    <h4>
      <b>Employee</b>
    </h4>

    <table class="table table-hover">
      <tr>
        <td width="210px">Full Name</td>
        <td>{{ bug.UserViewModel.FirstName }} {{ bug.UserViewModel.LastName }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ bug.UserViewModel.Email }}</td>
      </tr>
      <tr>
        <td>Contect Number</td>
        <td>{{ bug.UserViewModel.ContectNumber }}</td>
      </tr>
      <tr>
        <td>Experience</td>
        <td>{{ bug.UserViewModel.Experience }}<small>(Years)</small></td>
      </tr>
    </table>
  </div>
</div>