<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routeLink="/admin/dashboard">Bug Tracking</a>
    </div>
  </div>
</nav>

<section>
  <div class="login-window">
    <div class="panel panel-default">
      <form [formGroup]="_authenticationService.loginForm" (ngSubmit)="OnSubmit()">
        <div class="panel-heading main-color-bg">
          <h3 class="panel-title">
            <span class="fa fa-sign-in">&nbsp;&nbsp;&nbsp;</span>Login
          </h3>
        </div>
        <div class="panel-body">
          <div *ngIf="hasError">
            <div class="row">
              <div class="col-md-10 col-md-offset-2">
                  <div class="alert alert-danger">
                    <ul>
                      <li>
                        Either Email or Password is wrong.
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
          <div class="row mb-10">
            <div class="form-group">
              <div class="col-md-2">
                <label for="Email" class="control-label">Email</label>
              </div>
              <div class="col-md-10">
                <input id="Email" type="text" formControlName="Email" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-2">
                <label for="Password" class="control-label">Password</label>
              </div>
              <div class="col-md-10">
                <input id="Password" type="password" formControlName="Password" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <input type="submit" value="Login" class="btn btn-success" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>