<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routeLink="/admin/dashboard">Bug Tracking</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="nav-link" [routerLink]="[ '/employee/bug' ]" routerLinkActive="active">Bug</a></li>
      <li><a class="nav-link" [routerLink]="[ '/employee/project' ]" routerLinkActive="active">Project</a></li>
      <li><a class="nav-link" [routerLink]="[ '/employee/profile' ]" routerLinkActive="active">Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="nav-link" routerLink="/login" *ngIf="employeeId == null">Login</a>
        <a class="nav-link" routerLink="/login" *ngIf="employeeId != null">Logout</a>
      </li>
    </ul>
  </div>
</nav>