<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">
      <span class="fa fa-trash">&nbsp;&nbsp;&nbsp;</span>Delete Employee
    </h3>
  </div>
  <div class="panel-body">
    Are you sure you want to delete employee with Id: {{ Id }} ?<br />
    <button type="button" class="btn btn-success mr-10 mt-20" (click)="ConfirmedDeletion()">Yes</button>
    <button type="button" class="btn btn-danger mt-20" (click)="NotConfirmedDeletion()">No</button>

    <div *ngIf="hasError" class="danger mt-20">
      Something went wrong.! try again :()
    </div>
  </div>
</div>