<app-admin-navbar></app-admin-navbar>

<!-- HEADER -->
<header id="header">
  <div class="container">
    <h1>
      <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span> Dashboard
      <small>Manage your site</small>
    </h1>
  </div>
</header>
<!-- END HEADER -->

<!-- BREADCRUMB -->
<section id="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Dashboard</li>
    </ol>
  </div>
</section>
<!-- END BREADCRUMB -->

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-admin-side-navbar></app-admin-side-navbar>
      </div>
      <div class="col-md-9">
        <app-admin-system-overview></app-admin-system-overview>
      </div>
    </div>
  </div>
</section>