<div *ngIf="hasError" class="alert alert-danger mt-20">
  Something went wrong.! try again :( <button type="button" class="btn btn-danger btn-link" (click)="GoBack()">Go
    Back</button>
</div>
<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">
      <span class="fa fa-tasks">&nbsp;&nbsp;&nbsp;</span>Project Details
    </h3>
  </div>
  <div class="panel-body">
    <div class="row text-center">
      <div class="col-md-3 col-md-offset-3">
        <div class="card">
          <h4 class="card-title">
            <span class="fa fa-2x fa-bug"></span>
          </h4>
          <div class="card-container">
            {{ obj.bugCount }} Active bug<small>(s)</small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <h4 class="card-title">
            <span class="fa fa-2x fa-user"></span>
          </h4>
          <div class="card-container">
            {{ obj.employeeCount }} Employee<small>(s)</small> working
          </div>
        </div>
      </div>
    </div>

    <hr />

    <h4>
      <b>Details</b>
    </h4>

    <table class="table table-hover">
      <tr>
        <td width="210px">Title</td>
        <td>{{ obj.projectName }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ obj.projectDescription }}</td>
      </tr>
      <tr>
        <td>Is Active</td>
        <td>{{ obj.projectIsActive }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ obj.projectStatus }}</td>
      </tr>
      <tr>
        <td>Technology</td>
        <td>{{ obj.projectTechnology }}</td>
      </tr>
    </table>

    <hr />

    <h4>
      <b>Current Employees</b>
    </h4>

    <table class="table table-hover">
      <tr *ngIf="obj.employeeCount == 0">
        <td>
          No one is working in this project.
        </td>
      </tr>
      <tr *ngFor="let employee of obj.employees">
        <td>
          <div class="row employee-item">
            <div class="col-md-3">
              Name
            </div>
            <div class="col-md-9">
              {{ employee.UserViewModel.FirstName }} {{ employee.UserViewModel.LastName }}
            </div>
            <div class="col-md-3">
              Email
            </div>
            <div class="col-md-9">
              {{ employee.UserViewModel.Email }}
            </div>
          </div>
        </td>
      </tr>
    </table>

    <hr />

    <h4>
      <b>Active Bugs</b>
    </h4>

    <table class="table table-hover">
      <tr *ngIf="obj.bugCount == 0">
        <td colspan="2">
          No any active bug.
        </td>
      </tr>
      <tr *ngFor="let bug of obj.bugs">
        <td width="210px">Bug Title</td>
        <td>{{ bug.Title }}</td>
      </tr>
    </table>
  </div>
</div>