<div *ngIf="hasError" class="alert alert-danger mt-20">
  Something went wrong.! try again :( <button type="button" class="btn btn-danger btn-link" (click)="GoBack()">Go
    Back</button>
</div>

<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">
      <span class="fa fa-user">&nbsp;&nbsp;&nbsp;</span> Employee Details
    </h3>
  </div>
  <div class="panel-body">
    <div class="row text-center">
      <div class="col-md-3 col-md-offset-3">
        <div class="card">
          <h4 class="card-title">
            <span class="fa fa-2x fa-bug"></span>
          </h4>
          <div class="card-container">
            {{ employee.bugCount }} Active bug<small>(s)</small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <h4 class="card-title">
            <span class="fa fa-2x fa-tasks"></span>
          </h4>
          <div class="card-container">
            14 project completed
          </div>
        </div>
      </div>
    </div>

    <hr />

    <h4>
      <b>Personal Details</b>
    </h4>

    <table border="0" class="table table-hover">
      <tr>
        <td width="210px">Name</td>
        <td>{{ employee.name }}</td>
      </tr>
      <tr>
        <td>Email </td>
        <td>{{ employee.email }}</td>
      </tr>
      <tr>
        <td>Contect Number </td>
        <td>{{ employee.contectNumber }}</td>
      </tr>
      <tr>
        <td>Experience </td>
        <td>{{ employee.experience }} <small>(years)</small></td>
      </tr>
      <tr>
        <td>Is Active </td>
        <td>{{ employee.isActive }}</td>
      </tr>
      <tr>
        <td>Role </td>
        <td>{{ employee.role }}</td>
      </tr>
      <tr>
        <td>Address </td>
        <td>{{ employee.address }}</td>
      </tr>
      <tr>
        <td>Date of Birth </td>
        <td>{{ employee.dob | date: 'mediumDate' }}</td>
      </tr>
    </table>

    <hr />

    <h4>
      <b>Current Project</b>
    </h4>

    <table class="table table-hover">
      <tr *ngIf="employee.projectCount == 0">
        <td>
          This employee is not working in any project.
        </td>
      </tr>
      <tr *ngFor="let project of employee.projects">
        <td>
          <div class="row bug-item">
            <div class="col-md-3">
              Project Title
            </div>
            <div class="col-md-9">
              {{ project.ProjectViewModel.ProjectName }}
            </div>
            <div class="col-md-3">
              Role
            </div>
            <div class="col-md-9">
              {{ employee.role }}
            </div>
          </div>
        </td>
      </tr>
    </table>

    <hr />

    <h4>
      <b>Active Bugs</b>
    </h4>

    <table border="0" class="table table-hover">
      <tr *ngIf="employee.bugCount == 0">
        <td>
          No any active bug.
        </td>
      </tr>
      <tr *ngFor="let bug of employee.bugs">
        <td>
          <div class="row bug-item">
            <div class="col-md-3">
              Bug Title
            </div>
            <div class="col-md-9">
              {{ bug.Title }}
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>