<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">
      <span class="fa fa-user">&nbsp;&nbsp;&nbsp;</span> Employee Details
    </h3>
  </div>
  <div class="panel-body">
    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="card">
          <h4 class="card-title">
            <span class="fa fa-2x fa-bug"></span>
          </h4>
          <div class="card-container">
            {{ employee.BugViewModels.length }} Active bugs
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card">
          <h4 class="card-title">
            <span class="fa fa-2x fa-tasks"></span>
          </h4>
          <div class="card-container">
            14 project completed
          </div>
        </div>

      </div>
      <div class="col-md-3"></div>
    </div>

    <hr />

    <h4>
      <b>Personal Details</b>
    </h4>
    <table border="0" class="table table-hover">
      <tr>
        <td width="210px">Name</td>
        <td>{{ employee.FirstName }} {{ employee.LastName }}</td>
      </tr>
      <tr>
        <td>Email </td>
        <td>{{ employee.Email }}</td>
      </tr>
      <tr>
        <td>Contect Number </td>
        <td>{{ employee.ContectNumber }}</td>
      </tr>
      <tr>
        <td>Experience </td>
        <td>{{ employee.Experience }} <small>(years)</small></td>
      </tr>
      <tr>
        <td>Is Active </td>
        <td>{{ employee.IsActive }}</td>
      </tr>
      <tr>
        <td>Role </td>
        <td>{{ employee.User_RolesViewModel.RoleName }}</td>
      </tr>
      <tr>
        <td>Address </td>
        <td>{{ employee.Address }}</td>
      </tr>
      <tr>
        <td>Date of Birth </td>
        <td>{{ employee.BirthDate | date: 'mediumDate' }}</td>
      </tr>
    </table>

    <hr />

    <h4>
      <b>Current Project</b>
    </h4>

    <table border="0" class="table table-hover">
      <div *ngIf="employee.Project_DevelopersViewModel.length == 0">
        <tr>
          <td colspan="2">
            This employee is not working in any project.
          </td>
        </tr>
      </div>
      <div *ngIf="employee.Project_DevelopersViewModel.length != 0">
        <tr>
          <td width="210px">Name</td>
          <td>Hostel Managment Syatem</td>
        </tr>
        <tr>
          <td>Role</td>
          <td>Developer</td>
        </tr>
      </div>
    </table>

    <hr />

    <h4>
      <b>Active Bugs</b>
    </h4>

    <table border="0" class="table table-hover">
      <div *ngIf="employee.BugViewModels.length == 0">
        No any active bug.
      </div>
      <div *ngIf="employee.BugViewModels.length != 0">
        <tr *ngFor="let bug of employee.BugViewModels">
          <div class="row bug-item">
            <div class="col-md-3">
              Bug Title
            </div>
            <div class="col-md-9">
              {{ bug.Title }}
            </div>
            <div class="col-md-3">
              Bug Priority
            </div>
            <div class="col-md-9">
              {{ bug.Bug_PrioritiesViewModel.BugPriority }}
            </div>
          </div>
        </tr>
      </div>
    </table>
  </div>
</div>