<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
      <h3 class="panel-title">Syatem Overview</h3>
  </div>
  <div class="panel-body">
      <div class="col-md-3">
          <div class="well dash-box">
              <h2>
                  <span class="fa fa-bug" aria-hidden="true"></span> {{ systemOverView.bugCount }}
              </h2>
              <h4>Active Bugs</h4>
          </div>
      </div>
      <div class="col-md-3">
          <div class="well dash-box">
              <h2>
                  <span class="fa fa-tasks" aria-hidden="true"></span> {{ systemOverView.projectCount }}
              </h2>
              <h4>Active Projects</h4>
          </div>
      </div>
      <div class="col-md-3">
          <div class="well dash-box">
              <h2>
                  <span class="fa fa-user" aria-hidden="true"></span> {{ systemOverView.EmployeeCount }}
              </h2>
              <h4>Employees</h4>
          </div>
      </div>
      <div class="col-md-3">
          <div class="well dash-box">
              <h2>
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> {{ systemOverView.ProductsCount }}
              </h2>
              <h4>Products</h4>
          </div>
      </div>
  </div>
</div>
